@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Mulish', sans-serif;
}
header {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav {
  padding: 40px 0px;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 44px;
}
nav .header-title {
  color: #131318;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
nav .span {
  color: #ff5400;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
nav ul a {
  color: #424247;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all linear 0.3s;
}
.nav,
ul,
a:hover {
  color: #ff5400;
}
/* banner-part */
.banner-container {
  padding: 106px 185px;
  background-image: url(../Images/group1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  z-index: 1;
  position: relative;
}
.banner-container::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  z-index: -1;
}
.banner-content {
  color: #fff;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.banner-description {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 48px;
}
.banner-option {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.banner-option-menu {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.banner-option-menu input {
  padding: 16px;
  width: 100%;
  max-width: 174px;
  border-radius: 8px;
  background: #fff;
  border: none;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.banner-option-menu input::placeholder {
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.banner-option .btn-banner {
  max-width: 174px;
  width: 100%;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  transition: all linear 0.3s;
}
.banner-option .btn-banner:hover {
  background-color: #b5582a;
}
/* main start */
main {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.popular-tour-head {
  color: #131318;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.popular-head-description {
  width: 100%;
  max-width: 500px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 24px 0;
}
.popular-description ul li {
  max-width: 500px;
  width: 100%;
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}
.popular-description-finished {
  max-width: 500px;
  width: 100%;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}
.popular-tour-section .banner-btn {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: none;
  transition: all linear 0.3s;
}
.popular-tour-section .banner-btn:hover {
  background-color: #b5582a;
}
.popular-tour {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}
.main-container-img img {
  width: 100%;
}
/* destination part */
.destinatiom-head {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.section-description {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 48px;
}
.destination-img-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-bottom: 24px;
}
.destination-img-section1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.destination-img-section2 {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 473px 673px;
  gap: 24px;
}
/* chosse us start */
.section-content-title {
  color: #131318;
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 24px;
  margin-bottom: 16px;
}
.choose-description {
  color: rgba(19, 19, 24, 0.7);
  width: 100%;
  max-width: 647px;
  text-align: center;
  margin: 0 auto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.card-container {
  padding: 32px;
}
.card-container-bk {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.card-container-bk1 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.card-container-bk2 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
.cart-title {
  color: #131318;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 32px;
  margin-bottom: 16px;
}
.card-description {
  width: 100%;
  color: #5a5a5d;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.card-container .card-img img {
  width: 64px;
  height: 64px;
}
.chosse-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.section-container {
  margin-top: 24px;
  margin-bottom: 48px;
}
/* discount section */
.descaount-part {
  padding: 100px 0;
}
.descount-item-head {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.discount-description {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.discount-img-section {
  padding: 50px 50px 50px 400px;
  background-image: url('../Images/Group\ 39.png');
  border-radius: 16px;
  margin-bottom: 24px;
}
.discount-content {
  max-width: 400px;
  width: 100%;
  padding: 50px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  margin: 0 auto;
}
.discount-title {
  color: #131318;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.discount-description-item {
  max-width: 400px;
  width: 100%;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.price-section {
  color: #ff5400;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}
.discount-btn {
  width: 150px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  transition: all linear 0.3s;
}
.discount-btn:hover {
  background-color: #b5582a;
}
.discount-section {
  padding: 50px 50px;
  background-image: url('../Images/Group\ 40.png');
  border-radius: 16px;
  margin-bottom: 24px;
}
.discount-contentet {
  max-width: 400px;
  width: 100%;
  padding: 50px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}
/* responsive mobile */
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  nav > ul {
    gap: 20px;
  }
  .banner-container {
    padding: 32px 24px;
    margin: 0 20px;
  }
  .banner-content {
    text-align: center;
    font-size: 1.4rem;
  }
  .banner-option-menu {
    flex-direction: column;
    align-items: center;
  }
  .banner-option {
    width: 100%;
    padding: 16px 0px;
    padding: 24px 0;
  }
  .banner-option .btn-banner {
    width: 280px;
    max-width: 400px;
    padding: 16px;
  }
  .banner-option-menu input {
    width: 250px;
    max-width: 400px;
  }
  .popular-tour {
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 24px;
  }
  .main-container-img img {
    width: 100%;
    margin: 24px 0;
  }
  .destination-img-section {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 20px;
  }
  .destination-img-section img {
    width: 100%;
    max-width: 573px;
  }
  .destination-section {
    margin: 0 20px;
  }
  .destinatiom-head {
    font-size: 1.2rem;
  }
  .section-title {
    margin: 0 20px;
  }
  .chosse-card {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 20px;
  }
  .section-container {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .discount-img-section {
    padding: 100px 16px 16px 16px;
    margin-bottom: 24px;
    margin: 0 20px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  .discount-content {
    width: 303px;
    padding: 50px;
  }
  .discount-section {
    padding: 20px;

    margin: 0 20px;
  }
  .discount-contentet {
    padding: 100px 16px 16px 16px;
  }
  .discount-section {
    padding: 100px 16px 16px 16px;
    margin-bottom: 24px;
    margin: 0 20px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
}
